services:
  # Base de datos para TRANSACTION y CUSTOMER (Podemos usar la misma instancia)
  postgres-db:
    image: postgres:15-alpine
    container_name: paymentchain-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=paymentchain_db
    volumes:
      - ./postgres-data:/var/lib/postgresql/data # Persistencia de datos

  # Interfaz gráfica para ver la BD (Opcional, pero muy útil)
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres-db

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    container_name: paymentchain-keycloak
    command: start-dev
    environment:
      # Credenciales del Administrador de Keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      # Configuración de Base de Datos
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres-db:5432/keycloak_db
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: admin # La misma que pusiste en el servicio de postgres

      # Configuraciones extra para dev
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
    ports:
      - "8180:8080" # Accederemos por http://localhost:8180
    depends_on:
      - postgres-db
    restart: always