services:
  # ==========================================
  # 1. INFRAESTRUCTURA DE DATOS Y SEGURIDAD
  # ==========================================
  postgres-db:
    image: postgres:15-alpine
    container_name: paymentchain-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=paymentchain_db
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - paymentchain-network
    restart: always # Cambiado a always para DBs

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres-db
    networks:
      - paymentchain-network
    restart: on-failure

  redis-cache:
    image: redis:alpine
    container_name: paymentchain-redis
    ports:
      - "6379:6379"
    networks:
      - paymentchain-network
    restart: on-failure

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    container_name: paymentchain-keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres-db:5432/paymentchain_db
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: admin
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
    ports:
      - "8180:8080"
    depends_on:
      - postgres-db
    networks:
      - paymentchain-network
    restart: on-failure

  # ==========================================
  # 2. INFRAESTRUCTURA MICROSERVICIOS
  # ==========================================

  # 1º CONFIG SERVER (El cerebro inicia primero)
  config-server:
    image: paymentchain/config-server
    build: ../../infraestructuradomain/configServer
    container_name: config-server
    ports:
      - "8888:8888"
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8888/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 6
    volumes:
      - ../../config-data:/app/config-data
    environment:
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false
    networks:
      - paymentchain-network
    restart: on-failure

  # 2º EUREKA (La guía telefónica)
  eureka-server:
    image: paymentchain/eureka-server
    build: ../../infraestructuradomain/eurekaserver
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - paymentchain-network
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8761/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 6
    depends_on:
      config-server:
        condition: service_healthy
    restart: on-failure

  springboot-admin:
    image: paymentchain/springboot-admin
    build: ../../infraestructuradomain/SpringbootAdmin
    container_name: springboot-admin
    ports:
      - "9090:9090"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy # Agregado para ver registros
    networks:
      - paymentchain-network
    restart: on-failure

  api-gateway:
    image: paymentchain/api-gateway
    build: ../../infraestructuradomain/apigateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://paymentchain-keycloak:8080/realms/paymentchain-realm/protocol/openid-connect/certs
    depends_on:
      eureka-server:
        condition: service_healthy
      config-server:
        condition: service_healthy # Gateway necesita config
      keycloak:
        condition: service_started
    networks:
      - paymentchain-network
    restart: on-failure

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - paymentchain-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: nc -z localhost 9092 || exit 1
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - paymentchain-network

  # ==========================================
  # 3. DOMINIO DE NEGOCIO (CLIENTES)
  # ==========================================
  businessdomain-customer:
    image: paymentchain/customer
    build: ../../businessdomain/customer
    container_name: customer-service
    environment:
      - DB_URL=jdbc:postgresql://postgres-db:5432/paymentchain_db
      - DB_USER=postgres
      - DB_PASSWORD=admin
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      postgres-db:
        condition: service_started
    networks:
      - paymentchain-network
    restart: on-failure

  businessdomain-transaction:
    image: paymentchain/transaction
    build: ../../businessdomain/transaction
    container_name: transaction-service
    environment:
      - DB_URL=jdbc:postgresql://postgres-db:5432/paymentchain_db
      - DB_USER=postgres
      - DB_PASSWORD=admin
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - CURRENCY_SERVICE_URL=http://currency-exchange:8090
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      postgres-db:
        condition: service_started
    networks:
      - paymentchain-network
    restart: on-failure

  currency-exchange:
    image: paymentchain/currency-exchange
    build: ../../businessdomain/currency-exchange
    container_name: currency-exchange
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - REDIS_HOST=paymentchain-redis
      - REDIS_PORT=6379
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      redis-cache:
        condition: service_started
    networks:
      - paymentchain-network
    restart: on-failure

  notification-service:
    image: paymentchain/notification-service
    container_name: notification-service
    restart: on-failure
    build: ../../businessdomain/notification-service
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      kafka:
        condition: service_healthy
    networks:
      - paymentchain-network

networks:
  paymentchain-network:
    driver: bridge