server:
  port: 8080

logging:
    level:
        org.springframework.cloud.gateway: DEBUG
        reactor.netty.http.client: DEBUG

spring:
  application:
    name: api-gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${OAUTH2_ISSUER_URI:http://localhost:8180/realms/paymentchain-realm}
  cloud:
    config:
      enabled: false
    gateway:
      server:
        webflux:
          # Configuración de Discovery (Eureka)
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

          # Definición de Rutas
          routes:
            - id: customer-service
              uri: lb://businessdomain-customer
              predicates:
                - Path=/customers/**

            - id: transaction-service
              uri: lb://businessdomain-transaction
              predicates:
                - Path=/transactions/**, /accounts/**


eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/