version: '3.8'

services:
  # Base de datos para TRANSACTION y CUSTOMER (Podemos usar la misma instancia)
  postgres-db:
    image: postgres:15-alpine
    container_name: paymentchain-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=paymentchain_db
    volumes:
      - ./postgres-data:/var/lib/postgresql/data # Persistencia de datos

  # Interfaz gráfica para ver la BD (Opcional, pero muy útil)
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres-db

  # Aquí agregarás Keycloak y RabbitMQ cuando llegues a esos videos